# Database credentials
DB_USER=todos_user
DB_PASSWORD=change-me
POSTGRES_DB=todos

# App secret
SECRET_KEY=change-me

# Chainguard Libraries credentials (https://edu.chainguard.dev/chainguard/chainguard-libraries/python/)
CHAINGUARD_PYTHON_IDENTITY_ID=your-identity-id
CHAINGUARD_PYTHON_TOKEN=your-token
